---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="page not found"
  description="the page you're looking for couldn't be found."
>
  <h1 class="head">uh oh - looks like the page you requested doesn't exist.</h1>
  <p>
    well, that's weird. if you followed a link here, it's probably broken. let
    me know and i'll fix it!
  </p>
  <a href="/">back home</a>
</Layout>
